.employee-list {
    table-layout: fixed;
    border-collapse: collapse;
}

.employee-list tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 300px;
}

.employee-list thead tr {
   display: block;
}
table.wp-list-table.widefat.fixed.striped.posts.employee-list tbody td, table.wp-list-table.widefat.fixed.striped.posts.employee-list thead th {
  width: 3%;
}

.employee-list th, .employee-list td {
  padding: 5px;
  text-align: left;
  width: 200px;
}