/*
 Theme Name:   Woodmart Child
 Description:  Woodmart Child Theme
 Author:       XTemos
 Author URI:   http://xtemos.com
 Template:     woodmart
 Version:      1.0.0
 Text Domain:  woodmart
*/

/*Forside*/

#dekoration-1 {
    position: absolute;
    top: -220px;
    left: 0%;
    width: 110px;
}
#dekoration-2 {
    position: absolute;
    top: -240px;
    left: 20%;
    width: 80px;
}
#dekoration-3 {
    position: absolute;
    top: -260px;
    left: 35%;
    width: 70px;
}

#stjerner-1 {
    position: absolute;
    top: 10%;
    left: 10%;
}

#stjerner-2 {
    position: absolute;
    top: 10%;
    right: 10%;
}

#trae-1 {
    position: absolute;
    bottom: -155px;
    left: 0;
}
#trae-2 {
    position: absolute;
    bottom: -155px;
    left: 11%;
    max-width: 120px;
}

#dekoration-4 {
    position: absolute;
    top: 0px;
    right: 0%;
    width: 75px;
}
#dekoration-5 {
position: absolute;
    top: 0px;
    right: 5%;
    width: 50px;
}
#dekoration-6 {
    position: absolute;
    top: 0px;
    right: 10%;
    width: 45px;
}
.woocommerce-checkout:not(.woocommerce-order-pay) #payment .wc_payment_methods {
  display: none !important;
}
.employee-csv {
  color: transparent;
}
.employee-csv::-webkit-file-upload-button {
  visibility: hidden;
}
.employee-csv::before {
  content: 'TILFØJ FIL';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.employee-csv:hover::before {
  border-color: black;
}
.employee-csv:active {
  outline: 0;
}
.employee-csv:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.spinner {
  margin-bottom: 20px;
  width: 70px;
  text-align: center;
  display: none;
}
.spinner.is-active {
	display: block;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
span.error {
  color: #F00;
}
.upload-csv input[type="file"] {
  width: 50%;
}
#customer_details .col-12 + .col-12 {
  display: none !important;
}
.no-order {
  background-color: #c1c1c1 !important;
}
ul.woocommerce-error.employee-notice:before {
  content: '';
}
.employee-notice {
  margin-top: -40px;
  text-align:center;
}
.employee-wallet .amount {
  color: #FFF;
}
.woocommerce-cart .align-items-start .col-md-12 + .col-md-12 {
  margin-top: 50px;
}
.wc-proceed-to-checkout {
  display: none;
}
.woocommerce-order-details .responsive-table {
  margin-bottom: 20px;
}
.view-csv_data {
  margin-bottom: 30px;
  text-align: right;
}
.demo-csv-file.price-added {
  margin-bottom: 5px;
}
.show-total-amount {
  font-weight: 700;
}
.woodmart-term-and-condition {
  margin: 20px 0;
}
@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/*Header*/

#header-stjerner-1 {
    position: absolute;
    top: 80px;
    width: 100px;
    left: 5%;
}

#header-stjerner-2 {
    position: absolute;
    top: 85px;
    width: 60px;
    right: 5%;
}


/* Footer */

.widget li {
    margin-bottom: 5px !important;
}

.footer-kontakt {
    font-size: 14px;
}

.footer-sidebar {
    padding-top: 60px;
    padding-bottom: 20px;
}

.copyrights-wrapper {
    background-color: #1A1A1A;
}

.min-footer {
    font-size: 14px;
}

.copyrights-wrapper {
    border: none;
}

#footer-kugle-1 {
    position: absolute;
    top: -60px;
    left: -120px;
    z-index: 0;
}

#footer-kugle-2 {
    position: absolute;
    top: -60px;
    left: -60px;
    z-index: 0;
}

#footer-kugle-3 {
    position: absolute;
    top: -60px;
    left: -10px;
    z-index: 0;
}

#footer-logo {
    z-index: 2;
    position: relative;
}

/* Forside */

.sne-effekt:before {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    
    left: 0;
    right: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-image: url("https://www.voresjulegave.dk/wp-content/uploads/2020/10/sne-for.png"), url("https://www.voresjulegave.dk/wp-content/uploads/2020/10/sne-bag.png") !important;
    animation: snow 20s linear infinite;
}

@keyframes snow{0%{background-position:0px 0px, 0px 0px, 0px 0px}100%{background-position:500px 1000px, 400px 400px, 300px 300px}}.effect-snow{background-image:url("https://www.voresjulegave.dk/wp-content/uploads/2020/10/sne-for.png"),url("https://www.voresjulegave.dk/wp-content/uploads/2020/10/sne-bag.png");animation:snow 20s linear infinite}


#forside-hero-boks {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 30%;
}

/* Shop */

.private-text {
    font-size: 15px;
}

.wcpv-sold-by-loop {
    font-size: 14px;
    font-weight: 500;
}

/* Bestil julegaver form */

.bestil-julegaver-container {
    padding-bottom: 40px;
}

